.featured-posts__wrapper {
    position: relative;
    width: 30%;
}

.featured-posts__main {
  margin-left: 3rem;
}

.featured-posts {
  padding: 2rem;
  border-radius: 5px;
  border: 1px solid #ccc;

  &__title {
    font-size: 18px;
    color: $color-green;
    font-weight: 300;
  }

  &__company {
    color: $color-green;
    font-weight: 300;
    font-size: 14px;
  }

  &__location_type {
    display: flex;
    align-items: center;
  }

  &__location {
    color: $color-green;
    font-weight: 300;
    margin-right: 10px;
    font-size: 14px;
  }

  &__desc {
    color: #888;
    font-size: 14px;
    font-weight: 300;
    line-height: 27px;
  }

  &__tags {
    margin-bottom: 15px;
    &-tag {
      color: #26ae61;
      border: 1px solid #e6e2e2;
      border-radius: 3px;
      padding: 0.5rem;
      margin-right: 0.8rem;
      font-size: 1.2rem;
      font-weight: 300;
      display: inline-block;
    }
  }

  &__btn button {
    background-color: #26ae62;
    color: #fff;
    padding: 1.2rem 2rem;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    width: 100%;
  }
}
