.header {
  background-color: #fff;
  &__body {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: space-between;
  }
  &__logo {
    font-size: 3rem;
    color: $color-green;
    text-decoration: none;
  }
  &__button {
    background-color: $color-green;
    border-radius: 3px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1.2rem 2.2rem;
    letter-spacing: 1.5px;
    border: none;
  }
}
